@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WINNERS INDY</h1>
    <p class="lead">WINNERS INDY is a database that consist of all the members of Winners chapel Indianapolis. Winners Chapel  Indianapolis,  a  branch of Living Faith Church Worldwide (also known as Winners Chapel) is an
        Evangelical charismatic Christian denomination and a megachurch. The headquarters is located in Ota, Nigeria. 
        The organization has since become a global network of churches with congregations in over 65 countries..</p>
    <p><a href="https://www.winnerschapelindianapolis.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@